@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 101vw;
    margin: 0px;
    
}

a {
    display: block;
    background-color: rgb(39, 37, 37);
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    background-color: rgba(78, 75, 75, 0.986);
}